<div class="about">
    <br/><br/><br/>
    <h1>Our Services</h1>
    <p>
        Experience unmatched tech services: secure transactions, fast delivery, expert guidance. Discover convenience and reliability with us.
    </p><br/> 
    <div class="services">
        <div class="serv">
            <mat-icon>engineering</mat-icon>
            <br/>It consulting
        </div>
        <div class="serv">
            <mat-icon>webhook</mat-icon>
            <br/>Software development
        </div>
        <div class="serv">
            <mat-icon>design_services</mat-icon>
            <br/>Design
        </div>
        <div class="serv">
            <mat-icon>build</mat-icon>
            <br/>Repairs and technical support
        </div>
    </div> 
    <br/><br/><br/>
    <h1>Our Products</h1>
    <p>
        Explore top-quality tech products that elevate your digital lifestyle. Find the perfect solutions for your needs.
    </p><br/>
    <div class="services">
        <div class="serv">
            <mat-icon>smartphone</mat-icon>
            <br/>Mobile and phone tablets
        </div>
        <div class="serv">
            <mat-icon>laptop_windows</mat-icon>
            <br/>Laptops
        </div>
        <div class="serv">
            <mat-icon>roller_shades_closed</mat-icon>
            <br/>Home automation and smart devices
        </div>
        <div class="serv">
            <mat-icon>watch</mat-icon>
            <br/>Wearable technology
        </div>
    </div>
</div>
